@import "blocks/header.scss";

@import "blocks/media.scss";

$ui-index-1: 1; //Для наползающих элементов в общем потоке
$ui-index-2: 2; //Для наползающих элементов в общем потоке
$ui-index-3: 3; //Для масок
$ui-index-4: 4; //Для сайдбаров
$ui-index-5: 5; //Для модалок
$ui-index-6: 6; //Для элементов, перекрывающих все

a{
  text-decoration: none;
}

.title{
  &__text{
    &-header{
      margin: 100px 0px;

      font-size: 60px;
      font-weight: 700;
    }
  }
}