.header {
  width: 1800px;
  margin: 0 auto;
}

header {
  background: url("../img/bg-header.jpg");
  background-size: cover;
  height: 150vh;
  display: flow-root;
}

.navMenu {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navMenu ul {
  display: flex;
  align-items: center;
  margin: auto;
}
.navMenu ul li {
  list-style-type: none;
}
.navMenu__icon img {
  width: 150px;
}
.navMenu__menu ul li {
  font-weight: 500;
  margin: 0px 25px;
}
.navMenu__menu ul li select {
  border: none;
  background: none;
  font-weight: 500;
  transition: 0.3s;
}
.navMenu__menu ul li select:hover {
  transition: 0.3s;
  color: #167ffb;
}
.navMenu__menu ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.navMenu__menu ul li a:hover {
  transition: 0.3s;
  color: #167ffb;
}
.navMenu__register-button {
  border: none;
  background: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}
.navMenu__register-button:hover {
  border: none;
  background: none;
  transition: 0.3s;
  color: #167ffb;
  font-weight: 500;
}
.navMenu__free-trial button {
  border-radius: 30px;
  border: none;
  background: #167ffb;
  box-shadow: 0 1px #1a16fb, 0 2px #1a16fb, 0 3px #1a16fb, 0 4px #1a16fb, 0 5px #1a16fb, 0 6px #1a16fb, 0 7px #1a16fb;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}
.navMenu__free-trial button:hover {
  -webkit-transform: scale(3.2);
  transform: scale(1);
  transition: 0.5s;
  box-shadow: 0 0 #1a16fb;
}

.promo__bg {
  background: url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.promo__header {
  width: 700px;
  margin: auto;
  text-align: center;
}
.promo__header-text img {
  margin: -40px 0px 0px 30px;
  width: 400px;
}
.promo__header-form {
  position: relative;
  margin: 5em;
}
.promo__header-form input {
  display: block;
  width: 100%;
  height: 4em;
  line-height: 3em;
  border: 1px solid darkgray;
  padding: 0 1.5em;
  -moz-border-radius: 2.5em;
  -webkit-border-radius: 2.5em;
  background-color: white;
}
.promo__header-form button {
  position: absolute;
  top: 0.5em;
  right: 0.4em;
  height: 2.9em;
  width: 13em;
  border: 0px solid;
  background: #157ff8;
  -moz-border-radius: 2.5em;
  -webkit-border-radius: 2.5em;
  color: white;
  font-weight: 500;
}

.TopReasons {
  width: 1500px;
  margin: auto;
}
.TopReasons__wrapper {
  margin: 200px 0;
}
.TopReasons__wrapper-title {
  display: flex;
  justify-content: center;
}
.TopReasons__wrapper-text {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.TopReasons__wrapper-list {
  margin-top: 50px;
  border: 1px solid darkgray;
  border-radius: 60px;
  background: white;
  padding: 0 50px;
}
.TopReasons__wrapper-list a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.TopReasons__wrapper-list ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.TopReasons__wrapper-list ul li {
  margin: 0 55px;
  display: flex;
  align-items: center;
}
.TopReasons__wrapper-anim {
  cursor: pointer;
  transition: 0.5s;
}
.TopReasons__wrapper-anim:hover {
  -webkit-transform: scale(3.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.TopReasons__wrapper-optimized {
  display: flex;
  align-items: center;
}
.TopReasons__wrapper-optimized-text {
  width: 40%;
}
.TopReasons__wrapper-optimized-title p {
  margin: 0 0 50px 0;
  width: 55%;
}
.TopReasons__wrapper-optimized-list ul {
  display: table-row-group;
}
.TopReasons__wrapper-optimized-list ul li {
  background: linear-gradient(to right, rgb(232, 232, 232), rgb(232, 232, 232));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.TopReasons__wrapper-optimized-list ul li a {
  color: black;
  font-weight: 600;
  font-size: 23px;
  line-height: 4;
  text-decoration: none;
  cursor: pointer;
}
.TopReasons__wrapper-optimized-list ul li a:after {
  background-color: #5eabf9;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.TopReasons__wrapper-optimized-list ul li a:hover:after, .TopReasons__wrapper-optimized-list ul li a:focus:after {
  width: 100%;
}
.TopReasons__wrapper-optimized-img {
  width: 60%;
}
.TopReasons__wrapper-gateways {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 100px 0 0 0;
}
.TopReasons__wrapper-gateways-text {
  width: 33%;
}
.TopReasons__wrapper-gateways-list {
  margin: 50px 0 0 0;
}
.TopReasons__wrapper-gateways-list ul {
  display: table-row-group;
}
.TopReasons__wrapper-gateways-list ul li {
  display: flex;
}
.TopReasons__wrapper-gateways-list ul li p {
  margin: 0 0 15px 10px;
  font-size: 20px;
  font-weight: 700;
}
.TopReasons__wrapper-gateways-list ul li:before {
  content: url("../icons/check-mark.png");
  display: flex;
  align-items: center;
}
.TopReasons__wrapper-gateways-button {
  margin: 50px 0 0 0;
}
.TopReasons__wrapper-gateways-button button {
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
  background-color: #157cfa;
  color: white;
  font-weight: 700;
  font-size: 17px;
  box-shadow: 0 10px 0 #0057b9;
  transition: 0.2s ease;
}
.TopReasons__wrapper-gateways-button button:active {
  background-color: #0057b9;
  box-shadow: 0 0 #1a16fb;
  transform: translateY(4px);
}
.TopReasons__wrapper-gateways-img {
  margin: 50px 0 0 0;
}
.TopReasons__wrapper-gateways-img img {
  width: 100%;
}
.TopReasons__wrapper-customizable {
  display: flex;
  justify-content: space-between;
  margin: 200px 0 0 0;
}
.TopReasons__wrapper-customizable-text {
  width: 33%;
}
.TopReasons__wrapper-customizable-marketplace {
  display: flex;
  align-items: center;
  margin: 60px 0 0 0;
}
.TopReasons__wrapper-customizable-marketplace:before {
  content: url("../icons/icons-owners.jpg");
}
.TopReasons__wrapper-customizable-img {
  margin: 30px 0 0 0;
}
.TopReasons__wrapper-customizable-img img {
  width: 100ch;
}

.business__wrapper-title-header {
  display: flex;
  justify-content: center;
}
.business__wrapper-title-text {
  text-align: -webkit-center;
  margin: 25px 0 50px 0;
}

.carousel {
  margin-bottom: 250px;
}
.carousel__swiper-wrapper-bottom {
  margin: 10px 0px 0px -125px;
}
.carousel__swiper-slide {
  width: 250px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  padding: 50px;
  margin: 0 25px 0 0;
}
.carousel__swiper-slide-bottom {
  width: 250px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  padding: 50px;
  margin: 0 25px 0 0;
}

.features {
  background: #f2f7fd;
  padding: 5px 0 100px 0;
}
.features__wrapper {
  width: 1500px;
  margin: auto;
}
.features__wrapper-title {
  margin: 150px 0 0 0;
}
.features__wrapper-title-header {
  display: flex;
  justify-content: center;
}
.features__wrapper-title-text {
  margin: 15px 0 50px 0;
}
.features__wrapper-title-text p {
  width: 135vh;
  margin: auto;
  text-align: center;
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0 0 0;
}
.catalogs__wrapper {
  width: 300px;
  height: 350px;
  background: white;
  border-radius: 15px;
  border: none;
  margin: 0 50px 50px 0;
  cursor: pointer;
  transition: 0.5s;
}
.catalogs__wrapper:hover {
  -webkit-transform: scale(3.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.catalogs__wrapper:hover a {
  transition: 0.5s;
  color: #167bf5;
}
.catalogs__wrapper-items {
  display: grid;
  justify-items: center;
  text-align: center;
  width: 77%;
  margin: auto;
}
.catalogs__wrapper-items img {
  margin: 35px 0 20px 0;
}
.catalogs__wrapper-items-title {
  font-weight: 700;
  font-size: 23px;
}
.catalogs__wrapper-items a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.kick-start {
  width: 1400px;
  margin: auto;
}
.kick-start__wrapper-title {
  text-align: center;
}
.kick-start__wrapper-title-header {
  display: flex;
  justify-content: center;
}

.table__title {
  text-align: -webkit-center;
}
.table__title ul {
  display: flex;
  width: 35%;
  border: none;
  background: #ecf0f9;
  border-radius: 50px;
  padding: 15px 30px;
}
.table__title ul li {
  margin: 0 50px;
  list-style-type: none;
}

@media (max-width: 1800px) {
  .header {
    width: 1600px;
    margin: 0 auto;
  }
}
@media (max-width: 1600px) {
  .header {
    width: 1400px;
    margin: 0 auto;
  }
}
@media (max-width: 1400px) {
  .header {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .header {
    width: 1000px;
    margin: 0 auto;
  }
  .navMenu {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .header {
    width: 800px;
    margin: 0 auto;
  }
  .navMenu__menu {
    margin-left: -50px;
  }
  .navMenu__menu ul li {
    margin-left: -15px;
  }
  .navMenu__register {
    margin-left: -50px;
  }
}
@media (max-width: 800px) {
  .header {
    width: 700px;
    margin: 0 auto;
  }
  .navMenu__icon img {
    width: 100px;
  }
  .navMenu__register {
    margin-left: -50px;
  }
  .navMenu__free-trial button {
    padding: 10px 15px;
  }
}
@media (max-width: 1000px) {
  .promo__header {
    width: 550px;
    margin: auto;
  }
  .promo__header-text h1 {
    font-size: 45px;
  }
  .promo__header-text img {
    width: 320px;
    margin: -40px 0px 0px 30px;
  }
  .promo__header-form button {
    width: 10em;
  }
}
@media (max-width: 1500px) {
  .TopReasons {
    width: 1200px;
    margin: auto;
  }
  .TopReasons__wrapper-list ul li {
    margin: 0 30px;
  }
  .TopReasons__wrapper-anim a {
    font-size: 18px;
  }
  .TopReasons__wrapper-optimized-title p {
    width: 70%;
  }
  .TopReasons__wrapper-optimized-p p {
    font-size: 15px;
  }
  .TopReasons__wrapper-optimized-list ul li a {
    font-size: 20px;
  }
  .TopReasons__wrapper-optimized-img img {
    width: 115vh;
  }
}
@media (max-width: 1200px) {
  .TopReasons {
    width: 1000px;
  }
  .TopReasons__wrapper-list ul li {
    margin: 0 10px;
  }
  .TopReasons__wrapper-optimized-title p {
    width: 83%;
  }
  .TopReasons__wrapper-customizable-img {
    width: 62%;
  }
  .TopReasons__wrapper-customizable-img img {
    width: auto;
  }
}
@media (max-width: 1000px) {
  .TopReasons {
    width: 800px;
  }
  .TopReasons__wrapper-optimized {
    flex-direction: column;
  }
  .TopReasons__wrapper-optimized-title p {
    width: 70%;
  }
  .TopReasons__wrapper-optimized-text {
    width: 60%;
    text-align: -webkit-center;
  }
  .TopReasons__wrapper-optimized-img {
    width: unset;
  }
  .TopReasons__wrapper-gateways {
    flex-direction: column;
    text-align: -webkit-center;
    align-items: center;
  }
  .TopReasons__wrapper-gateways-text {
    width: 55%;
  }
  .TopReasons__wrapper-customizable {
    flex-direction: column;
  }
  .TopReasons__wrapper-customizable-text {
    width: 50%;
    margin: auto;
    text-align: -webkit-center;
  }
  .TopReasons__wrapper-customizable-img {
    width: 62%;
  }
  .TopReasons__wrapper-customizable-img img {
    width: auto;
  }
}
@media (max-width: 800px) {
  .TopReasons {
    width: 700px;
  }
  .TopReasons__wrapper-list ul li {
    margin: 0 5px;
  }
  .TopReasons__wrapper-anim a {
    font-size: 14px;
  }
  .TopReasons__wrapper-optimized-text {
    width: 70%;
  }
}
ul li {
  list-style-type: none;
}

.title__text {
  margin: 100px 0 0 0;
  font-size: 60px;
  font-weight: 700;
}
.title__text-bg {
  color: #167ffb;
  background-size: 100% 0.1em, 0 0.1em;
  background: linear-gradient(0deg, #e4f0ff 30%, transparent 50%);
}
.title__text-p {
  color: darkgray;
  font-size: 19px;
}

/*# sourceMappingURL=style.css.map */
