@import "blocks/header.scss";
@import "blocks/top-reasons.scss";

@import "blocks/media.scss";

$ui-index-1: 1; //Для наползающих элементов в общем потоке
$ui-index-2: 2; //Для наползающих элементов в общем потоке
$ui-index-3: 3; //Для масок
$ui-index-4: 4; //Для сайдбаров
$ui-index-5: 5; //Для модалок
$ui-index-6: 6; //Для элементов, перекрывающих все


ul li{
  list-style-type: none;
}

.title{
  &__text{
      margin: 100px 0 0 0;

      font-size: 60px;
      font-weight: 700;

    &-bg{
      color: #167ffb;

      background: linear-gradient(0deg, #e4f0ff 30%, transparent 50%)
    }

    &-p{
      color: darkgray;
      font-size: 19px;
    }
  }
}