.business{
  &__wrapper{
    &-title {
      &-header {
        display: flex;
        justify-content: center;
      }

      &-text {
        text-align: -webkit-center;

        margin: 25px 0 50px 0;
      }
    }
  }
}