//Header

.header{
  width: 1800px;
  margin: 0 auto;
}

header{
  background: url("../img/bg-header.jpg");
  background-size: cover;
  height: 150vh;
  display: flow-root;
}

.navMenu{
  margin: 50px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & ul{
    display: flex;
    align-items: center;

    margin: auto;

    & li{
      list-style-type: none;
    }
  }

  &__icon{
    & img{
      width: 150px;
    }
  }

  &__menu{

    & ul{
      & li{
        font-weight: 500;
        margin: 0px 25px;

        & select{
          border: none;
          background: none;

          font-weight: 500;

          transition: 0.3s;

          &:hover{
            transition: 0.3s;

            color: #167ffb;
          }
        }

        & a{
          text-decoration: none;

          color: black;

          transition: 0.3s;

          &:hover{
              transition: 0.3s;

              color: #167ffb;
          }
        }
      }
    }
  }
  &__register{

    &-button{
      border: none;
      background: none;

      color: black;
      font-weight: 500;

      transition: 0.3s;
      &:hover{
        border: none;
        background: none;

        transition: 0.3s;

        color: #167ffb;
        font-weight: 500;
      }
    }
  }
  &__free {
    &-trial {
      & button {
        border-radius: 30px;
        border: none;
        background: #167ffb;
        box-shadow: 0 1px #1a16fb,
        0 2px #1a16fb,
        0 3px #1a16fb,
        0 4px #1a16fb,
        0 5px #1a16fb,
        0 6px #1a16fb,
        0 7px #1a16fb;
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);

        padding: 10px 20px;
        color: white;
        font-weight: 500;

        transition: 0.5s;

        &:hover {
          -webkit-transform: scale(3.2);
          transform: scale(1);
          transition: 0.5s;
          box-shadow: 0 0 #1a16fb;
        }
      }
    }
  }
}

//Promo
.promo{
  &__bg{
    background: url("../img/header.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    //display: flow-root;
  }

  &__header{
    width: 700px;
    margin: auto;

    text-align: center;

    &-text{

      & img{
        margin: -238px 0px 0px 30px;
        width: 400px;
      }

      & p{
        margin-top: -70px;
      }
    }
    &-form{
      position: relative;
      margin: 5em;



      & input{
        display: block;

        width: 100%;
        height: 4em;
        line-height: 3em;
        border: 1px solid darkgray;
        padding: 0 1.5em;

        -moz-border-radius: 2.5em;
        -webkit-border-radius: 2.5em;

        background-color: white;
      }

      & button{
        position: absolute;

        top: 0.5em;
        right: 0.4em;
        height: 2.9em;
        width: 13em;
        border: 0px solid;
        background: #157ff8;

        -moz-border-radius: 2.5em;
        -webkit-border-radius: 2.5em;

        color: white;
        font-weight: 500;
      }
    }
  }
}
