.header{
  width: 1800px;
  margin: 0 auto;
}

header{
  background: url("../img/bg-header.jpg");
  background-size: cover;
  height: 100vh;
  display: flow-root;
}

.navMenu{
  margin: 50px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & ul{
    display: flex;
    align-items: center;

    margin: auto;

    & li{
      list-style-type: none;
    }
  }

  &__icon{
    & img{
      width: 150px;
    }
  }

  &__menu{

    & ul{
      & li{
        font-weight: 500;
        margin: 0px 25px;

        & select{
          border: none;
          background: none;

          font-weight: 500;

          transition: 0.3s;

          &:hover{
            transition: 0.3s;

            color: #167ffb;
          }
        }

        & a{
          text-decoration: none;

          color: black;

          transition: 0.3s;

          &:hover{
              transition: 0.3s;

              color: #167ffb;
          }
        }
      }
    }
  }
  &__register{

    &-button{
      border: none;
      background: none;

      color: black;
      font-weight: 500;

      transition: 0.3s;
      &:hover{
        border: none;
        background: none;

        transition: 0.3s;

        color: #167ffb;
        font-weight: 500;
      }
    }
  }
  &__free-trial{
    & button{
      border-radius: 30px;
      border: none;
      background: #167ffb;
      box-shadow:
              0 1px #1a16fb,
              0 2px #1a16fb,
              0 3px #1a16fb,
              0 4px #1a16fb,
              0 5px #1a16fb,
              0 6px #1a16fb,
              0 7px #1a16fb;
      -webkit-transform: translateX(-7px);
      transform: translateX(-7px);

      padding: 10px 20px;
      color: white;
      font-weight: 500;

      transition: 0.5s;

      &:hover{
        -webkit-transform: scale(3.2);
        transform: scale(1);
        transition: 0.5s;
        box-shadow: 0 0 #1a16fb;
      }
    }
  }
}

