.kick-start{
  width: 1400px;
  margin: auto;
  &__wrapper{
    &-title{
      text-align: center;
      &-header{
        display: flex;
        justify-content: center;

      }
    }
  }
}

.table{
  &__title{
    text-align: -webkit-center;
    & ul{
      display: flex;

      width: 35%;

      border: none;
      background: #ecf0f9;
      border-radius: 50px;
      padding: 15px 30px;
      & li{
        margin: 0 50px;
        list-style-type: none;
      }
    }
  }
}