// Header -- NavMenu

@media (max-width: 1800px) {
  .header{
    width: 1600px;
    margin: 0 auto;
  }
}

@media (max-width: 1600px) {
  .header{
    width: 1400px;
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .header{
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .header{
    width: 1000px;
    margin: 0 auto;
  }

  .navMenu{
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .header{
    width: 800px;
    margin: 0 auto;
  }

  .navMenu{

    &__menu{
      margin-left: -50px;

      & ul li{
        margin-left: -15px;
      }
    }

    &__register{
      margin-left: -50px;
    }
  }
}

@media (max-width: 800px) {
  .header{
    width: 700px;
    margin: 0 auto;
  }

  .navMenu{

    &__icon img{
      width: 100px;
    }

    &__register{
      margin-left: -50px;
    }

    &__free-trial button{
      padding: 10px 15px;
    }
  }
}

//Header -- Promo

@media (max-width: 1000px) {
    .promo{
      &__header{
        width: 550px;
        margin: auto;
        &-text{
          & h1{
            font-size: 45px;
          }
          & img{
            width: 320px;
            margin: -40px 0px 0px 30px;
          }
        }

        &-form{
          & button{
            width: 10em;
          }
        }
      }
    }
}

//TopReasons

@media (max-width: 1500px){
  .TopReasons{
    width: 1200px;
    margin: auto;

    &__wrapper {
      &-list ul li {
        margin: 0 30px;
      }

      &-anim {
        & a {
          font-size: 18px;
        }
      }

      &-optimized {

        &-title p{
          width: 70%;
        }

        &-p p{
          font-size: 15px;
        }

        &-list{
          & ul li a{
           font-size: 20px;
          }
        }

        &-img {

          & img {
            width: 115vh;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px){
  .TopReasons{
    width: 1000px;
    &__wrapper {
      &-list ul li {
        margin: 0 10px;
      }

      &-optimized {

        &-title p{
          width: 83%;
        }
        &-img {
          & img {
            //width: 55vh;
          }
        }
      }
      &-customizable{
        &-img{
          width: 62%;
          & img{
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .TopReasons{
    width: 800px;
    &__wrapper {
      &-optimized {
        flex-direction: column;
        &-title{
         & p{
            width: 70%;
          }
        }

        &-text{
          width: 60%;
          text-align: -webkit-center;
        }

        &-img {
          width: unset;
          & img {
            //width: 80vh;
          }
        }
      }
      &-gateways{
        flex-direction: column;
        text-align: -webkit-center;
        align-items: center;
        &-text{
          width: 55%;
        }
      }
      &-customizable{
        flex-direction: column;
        &-text{
          width: 50%;
          margin: auto;

          text-align: -webkit-center;
        }
        &-img{
          width: 62%;
          & img{
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 800px){
  .TopReasons{
    width: 700px;

    &__wrapper {
      &-list ul li {
        margin: 0 5px;
      }
      &-anim {
        & a {
          font-size: 14px;
        }
      }

      &-optimized {
        &-text{
          width: 70%;
        }
      }
    }
  }
}