// Header -- NavMenu

@media (max-width: 1800px) {
  .header{
    width: 1600px;
    margin: 0 auto;
  }
}

@media (max-width: 1600px) {
  .header{
    width: 1400px;
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .header{
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .header{
    width: 1000px;
    margin: 0 auto;
  }

  .navMenu{
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .header{
    width: 800px;
    margin: 0 auto;
  }

  .navMenu{

    &__menu{
      margin-left: -50px;

      & ul li{
        margin-left: -15px;
      }
    }

    &__register{
      margin-left: -50px;
    }
  }
}

@media (max-width: 800px) {
  .header{
    width: 700px;
    margin: 0 auto;
  }

  .navMenu{

    &__icon img{
      width: 100px;
    }

    &__register{
      margin-left: -50px;
    }

    &__free-trial button{
      padding: 10px 15px;
    }
  }
}