.TopReasons{
  width: 1500px;
  margin: auto;
  &__wrapper{
    margin: 200px 0;
    &-title{
      display: flex;
      justify-content: center;
      & p{
        margin: 0 10px;
      }
    }

    &-text{
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }

    &-list{
      margin-top: 50px;

      border: 1px solid darkgray;
      border-radius: 60px;
      background: white;

      padding: 0 50px;
      & a{
        text-decoration: none;

        color: black;
        font-weight: 600;
        font-size: 20px;
      }
      & ul{
        display: flex;
        justify-content: center;

        margin-top: 20px;
        & li{
          margin: 0 55px;

          display: flex;
          align-items: center;
        }
      }
    }

    &-anim{
      cursor: pointer;

      transition: 0.5s;
      &:hover{
        -webkit-transform: scale(3.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 0.5s;
      }
    }
    &-optimized{
      display: flex;
      align-items: center;
      &-text{
        width: 40%;
      }
      &-title p{
        margin: 0 0 50px 0;
        width: 55%;
      }
      &-list {
        & ul {
          display: table-row-group;
          & li {
            background: linear-gradient(to right, rgb(232, 232, 232), rgb(232, 232, 232));
            background-size: 100% 0.1em, 0 0.1em;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
            & a {

              color: black;
              font-weight: 600;
              font-size: 23px;

              line-height: 4;

              text-decoration: none;
              cursor: pointer;

              &:after {
                background-color: #5eabf9;
                display: block;

                content: "";

                height: 2px;
                width: 0%;
                -webkit-transition: width .3s ease-in-out;
                -moz--transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
              }

              &:hover:after,
              &:focus:after {
                width: 100%;
              }
            }
          }
        }
      }

      &-img{
        width: 60%;
      }
    }
  }
}
